/**
*@Author: Lokesh Gupta
*
*/
 .LTtagInput {
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px 10px;
    width: 400px;
    margin: 5px 0px;
}
.LTtagInput input {
    border: none;
}
.LTtagInput input:focus {
    border: none;
    outline: none;
}
div.LTtag{
    background: #e64108;
    color: #fff;
    padding: 3px;
    margin: 2px;
    display: inline-block;
}
.LTremoveTag{
    cursor: pointer;
    color: #32ff31;
    font-weight: bold;
}